[user]
	name = Nicolas Gutierrez
	email = nick@flightcrew.io
[init]
	defaultBranch = main
[alias]
	co = checkout
	br = branch
	unstage = reset HEAD --
	last = log -1 HEAD
	gone = ! git fetch -p && git for-each-ref --format '%(refname:short) %(upstream:track)' | awk '$2 == \"[gone]\" {print $1}' | xargs -r git branch -D
	push = push -u
[pull]
	rebase = true
[push]
	default = current
